<ion-view view-title="Generos Musicales" ng-init="list()">
	<ion-content>
		
		<ion-spinner icon="ripple" ng-show="!ready && !errror" class="spinner-energized centered-spinner"></ion-spinner>
		
		<ion-refresher pulling-text="Cargando..." on-refresh="list()"></ion-refresher>

		<div class="error item-icon-left" ng-if="error">
			<i class="ion-close-circled"></i> {{message}}
		</div>

		<div class="row" ng-show="ready && !error">
			<div class="col">
				<a href="#tab/genders/new" class="button button-clear icon-right ion-plus-circled button-balanced">
					Nuevo Genero
				</a>
			</div>
		</div>

		<ion-list ng-if="ready && !error">
			
			<ion-item href="#/tab/genders/{{gender.id}}" ng-repeat="gender in genders" class="item-icon-right">
				<p>{{gender.name}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>

				<ion-option-button class="button-assertive" ng-click="destroy(gender.id)">
					Eliminar
				</ion-option-button>
			</ion-item>

		</ion-list>

	</ion-content>
</ion-view>